.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #191919;
}
.clock {
  font-family: "VT323", monospace;
  font-size: 120px;
  color: cyan;
  padding: 10px;
}
body {
  background-color: #191919;
}
